.note-btn {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  color: black;
  font-size: 0.9em;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.note-btn:hover {
  cursor: pointer;
}

.card-body:hover .note-btn {
  opacity: 1;
}

.noteTimestamp {
  font-size: 0.8em;
  padding-top: 0.8em;
  color: #909296;
}

@media (max-width: 550px) {
  .note-btn {
    opacity: 0.1;
  }
}
